.container{
    width: 40%;
    margin: 50px auto;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 8px 5px 10px black;
}
.container h1{
    text-align: center;

}
.container form{
    width: 100%;
}

input,button{
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 5px;
}
input{
    width: 95%;
}
.success{
    color: green;
    padding: 10px;
    border: 1px solid green;
}
.danger{
    color: red;
    padding: 10px;
    border: 1px solid red;
}